.header {
    position:fixed;
    top:0;
    left: 0;
    width:100%;
    height: auto;
    background-color: black;
    color: white;
    text-align: center;
    z-index: 1;
}
.navbar{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width:100%;
    color: black;
    background-color: white;
}
.bar-item{
    text-align: center;
    padding: 0px 10px;
}
.items{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 30px;
}
.bar-img{
    max-width: 30px;
    height: auto;  
    padding: 0px 10px;  
}
.image1{
    width: 100%;
    height: auto;  
}
.contents{
    padding: 0px 30px;
    text-align: center;
}
ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
    background-color:white;
  }
  
  li {
    float: left;
  }
  
  li a {
    display: inline-block;
    color: black;
    text-align: center;
    padding: 10px 0px;
    text-decoration: none;
  }
.dropbtn {
    display: inline-block;
    color: black;
    margin: 5px;
    text-align: center;
    text-decoration: none;
  }
  
  .dropbtn:hover {
    border-bottom-color: transparent;
    background-image: url("asset/line-clay-bg.svg");
    background-position: 0 1.8em;
    background-size: auto -5px;
    background-repeat:repeat-x;
    text-decoration: none;
  }
  
  li.dropdown {
    display: inline-block;
  }
  
  .dropdown-content {
    padding-top: 5px;
    display: none;
    position: absolute;
    background-color: white;
    background-image: url("asset/dropdown_bg.jpg");
    left:38px;
    right:38px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    z-index: 1;
  }

  .dropdown-content a {
    color: black;
    padding: 15px 15px;
    text-decoration: none;
    display: block;
    text-align: center;
  }
  
  .dropdown-content a:hover {background-color: transparent;}
  
  .dropdown:hover .dropdown-content {
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .drop-img{
      max-height: 350px;
      width: auto;
      margin: 10px;
  }

  .grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto auto auto auto ;
    grid-gap: 6px 10px;
    background-color: white;
    padding: 0 30px;
  }
  
  .grid-container > div {
    background-color: white;
    text-align: center;
    padding: 0;
  }
  
  .item1 {
    grid-row-start: 1;
    grid-row-end: 2;
    grid-column-start: 1;
    grid-column-end: 7;
  }
  .item2 {
    grid-row-start: 1;
    grid-row-end: 3;
    grid-column-start: 7;
    grid-column-end: 10;
  }
  .item3 {
    grid-row-start: 2;
    grid-row-end: 5;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .item4 {
    grid-row-start: 2;
    grid-row-end: 9;
    grid-column-start: 4;
    grid-column-end: 7;
  }
  .item5 {
    grid-row-start: 3;
    grid-row-end: 9;
    grid-column-start: 7;
    grid-column-end: 10;

  }
  .item6 {
    grid-row-start: 5;
    grid-row-end: 10;
    grid-column-start: 1;
    grid-column-end: 4;
  }
  .item7 {
    grid-row-start: 9;
    grid-row-end: 10;
    grid-column-start: 4;
    grid-column-end: 10;
  }
  
.images{
    height: 100%; 
    width: 100%; 
}
.images1{
    width: 100%;
    height: 65vh;
}
.images2{
    width: 100%;
    height: 97vh;
}
.images3{
    width: 100%;
    height: 90vh;
}
.images4{
    width: 100%;
    height: 120vh;
}
.images5{
    width: 100%;
    height: 88vh;
}
.images6{
    width: 100%;
    height: 90vh;
}
.images7{
    width: 100%;
    height: 60vh;
}
.image2{
    height: 70%; 
    width: 80%; 
    margin-top: 30px;
}

.container {
    position: relative;
    width: 100%;
    height: auto;
  }

  .middle {
    opacity: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    height: 90%; 
    width: 90%; 
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    text-align: center;
    background-color:rgba(255, 255, 255, 0.5);
    
  }

  .container:hover .middle {
    opacity: 1;
  }
  .text {
    color: black;
    font-size: 18px;
    padding: 10px;
  }

  .footer {
    position: relative;
    height: 40px;
    left:-8px;
    bottom: -30px;
    
    padding-bottom: 0px;
    padding-right: 0px;
    padding-left: 16px;

    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    z-index: 1;
    
}
.footer-text{
    padding: 10px;
}
.footer-text:active {
    text-decoration: underline;
  }
#myBtn {
    position: fixed;
    border: none;
    outline: none;
    left:93%;
    bottom: 10%;
    z-index: 1;
    font-size: 15px;
    background-color: rgba(0,0,0,0.7);
    color: rgba(255,255,255,0.7);
    padding: 10px 5px;
    border-radius: 100%;
    
  } 
  